<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Social Login</title>
  </head>
  <body>
    <div class="container" style="text-align: center; padding-top: 10%">
      <h1>Django Social Login</h1>
      {% load socialaccount %}
      <br /><br />

      <!-- GitHub button starts here -->
      <a href="{% provider_login_url 'github' %}" class="btn btn-secondary">
        <i class="fa fa-github fa-fw"></i>
        <span>Login with GitHub</span>
      </a>
      <form method="POST" action="http://127.0.0.1:8000/api/github_logout/">
        {% csrf_token %}
        <input type="submit" value="logout" />
      </form>
      <!-- GitHub button ends here -->
      <!-- Twitter button starts here -->
    </div>
  </body>
</html>
